<html>
<head><title>{% block sub_title '' %}{% block title 'Aplicación' %}</title></head>
<body>
  <h1>UpThing</h1>
  {% block body %}
    Bienvenido a la Aplicación !
  {% endblock %}
</body>
</html>